$main-bg-color: #06000a;
$white-font-color: rgb(247, 247, 247);
$grey-font-color: #272727;
$bg-light-gray: rgb(245, 245, 245);
// Primary button
$button-primary: #5e1a96; //#5e1a96
$button-primary-focus: #940ef370;
$button-secondary: #8110d1; //#8110d1
$button-third: #c471ff;
// Podium colors
$podium-div-bg: white;
$podium-block-text-fg: white;
$podium-header-fg: $grey-font-color;
$podium-block-first: #a210c7;
$podium-block-second: #913dd6;
$podium-block-third: #b16ef0;
$podium-block-medal: #00000071;
$box-shadow: 3px 5px 15px 1px rgba(51, 51, 51, 0.2);