#myInput {
    background-image: url('./images/search-icon.png');
    /* Add a search icon to input */
    background-position: 10px 12px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 100%;
    /* Full-width */
    font-size: 16px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px;
    /* Add some space below the input */
    border-radius: 10px;
}

#myTable {
    border-collapse: collapse;
    /* Collapse borders */
    //width: 100%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
    font-size: 18px;
    /* Increase font-size */
    width: 100%;
    th {
        position: sticky;
        background-color: #f1f1f1;
        top: 0;
    }
    tr.header {
        position: sticky;
        top: 0;
        box-shadow: -1px 0px 13px 5px rgba(0, 0, 0, 0.1);
    }
}

.titel-compare {
    position: relative;
    top: 30vh;
}

#myTable th,
#myTable td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable tr.header,
#myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

.selectPlayer {
    overflow-y: scroll;
    height: 80%;
    margin: 10px;
}

.search-bar {
    margin: 20px;
}

.player-card {
    a {
        text-decoration: none;
        color: $grey-font-color;
    }
    a:hover {
        color: $button-secondary;
        transition: 0.2s;
    }
}