.feedback-cont {
    background-color: white;
    border-radius: 10px;
    padding: 3vw;
    h2 {
        color: $grey-font-color;
        font-size: 4vw !important;
    }
    p {
        color: $grey-font-color;
    }
}

.form-control {
    &:focus {
        border-color: #7800c9 !important;
        outline: 0;
        box-shadow: 0 0 0 0.25rem $button-primary-focus !important;
    }
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 30px;
    line-height: 33px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
        color: rgb(59, 59, 59);
    }
}