#main-bg {
    position: fixed;
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.upload {
    background-color: #fff;
    width: 320px;
    height: 355px;
    margin: 30vh auto;
    border-radius: 20px;
    padding: 100px 20px;
}