#main-bg {
    position: fixed;
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.upload {
    background-color: #fff;
    width: 320px;
    height: 355px;
    margin: 30vh auto;
    border-radius: 20px;
    padding: 100px 20px;
    a:hover p.file-name {
        color: $soft-green;
        transition: .2s;
    }
}

.wide-box {
    width: 420px !important;
    padding: 100px 40px;
}

.share {
    background-color: #fff;
    width: 600px;
    height: 420px;
    margin: 30vh auto;
    border-radius: 20px;
    padding: 100px 20px;
}

#getFile {
    display: none;
}

#getFileLabel {
    display: inline-block;
    background: red;
    height: 50px;
    width: 100px;
}

.add-file-button {
    width: 60px;
    height: 60px;
    border-radius: 21px;
    background-color: $soft-green;
    -webkit-box-shadow: 0px 0px 42px -2px #2CB025;
    box-shadow: 0px 0px 42px -2px #2CB025;
    text-align: center;
    padding: 16px;
}

#fileInput-label {
    display: table;
    margin: 30px auto 30px auto;
}

.fa-plus {
    color: #fff;
    font-size: 30px;
}

.hint {
    font-weight: 600;
    text-align: center;
}

.hint-sm {
    font-weight: normal;
    text-align: center;
    font-size: 10px;
    margin-top: 10px;
}

.file-name {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: $grey-font-color;
    transition: .2s;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

p.file-name {
    margin: 0;
    padding: 0;
}

p.file-size {
    color: rgb(68, 68, 68);
    font-size: 10px;
    font-weight: normal;
    margin-top: 5px;
}

.message-bg {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    min-height: 50px;
    max-height: 160px;
    overflow-y: scroll !important;
    //overflow-y: hidden;
    padding: 20px 10px;
    font-size: 15px;
}

.btn-gradient {
    border-radius: 12px !important;
    transition: 0.3s;
    background: linear-gradient(102deg, rgba(94, 26, 150, 1) 0%, rgba(157, 97, 205, 1) 100%);
}

.arrow-right,
.arrow-left {
    color: white;
    opacity: 0;
    transition: 0.3s;
    margin: 10px 0px 10px 10px;
}

#home-button:hover .arrow-left {
    opacity: 1;
    margin: 10px 5px 10px 20px;
}

#home-button {
    -webkit-box-shadow: 0px 0px 28px 0px #ebabff;
    box-shadow: 0px 0px 28px 0px #68f08a;
    border-radius: 20px;
    border: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding-left: 20px;
    background: linear-gradient( 102deg, #14a14f 0%, $soft-green 100%);
}