.progress-bar {
    background-color: $soft-green !important;
}

.progress {
    height: 30px !important;
    border-radius: 10px !important;
}

#abort {
    margin: 30px auto;
    display: table;
    border-radius: 10px !important;
}