#main-bg {
  position: fixed;
  background-image: url(../images/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.upload {
  background-color: #fff;
  width: 320px;
  height: 355px;
  margin: 30vh auto;
  border-radius: 20px;
  padding: 100px 20px;
}

.upload a:hover p.file-name {
  color: #3cb572;
  -webkit-transition: .2s;
  transition: .2s;
}

.wide-box {
  width: 420px !important;
  padding: 70px 40px;
}

.share {
  background-color: #fff;
  width: 320px;
  height: 420px;
  margin: 30vh auto;
  border-radius: 20px;
  padding: 30px 40px;
}

#getFile {
  display: none;
}

#getFileLabel {
  display: inline-block;
  background: red;
  height: 50px;
  width: 100px;
}

.add-file-button {
  width: 60px;
  height: 60px;
  border-radius: 21px;
  background-color: #3cb572;
  -webkit-box-shadow: 0px 0px 42px -2px #2CB025;
  box-shadow: 0px 0px 42px -2px #2CB025;
  text-align: center;
  padding: 16px;
}

#fileInput-label {
  display: table;
  margin: 30px auto 30px auto;
}

.fa-plus {
  color: #fff;
  font-size: 30px;
}

.hint {
  font-weight: 600;
  text-align: center;
}

.hint-sm {
  font-weight: normal;
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
}

.file-name {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  color: #272727;
  -webkit-transition: .2s;
  transition: .2s;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

p.file-name {
  margin: 0;
  padding: 0;
}

p.file-size {
  color: #444444;
  font-size: 10px;
  font-weight: normal;
  margin-top: 5px;
}

.message-bg {
  background-color: #f1f1f1;
  border-radius: 10px;
  min-height: 50px;
  max-height: 160px;
  overflow-y: scroll !important;
  padding: 20px 10px;
  font-size: 15px;
}

.btn-gradient {
  border-radius: 6px !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: linear-gradient(102deg, #14a14f 0%, #3cb572 100%);
}

.arrow-right,
.arrow-left {
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px 0px 10px 10px;
}

#home-button:hover .arrow-left {
  opacity: 1;
  margin: 10px 5px 10px 20px;
}

#home-button {
  -webkit-box-shadow: 0px 0px 28px 0px #ebabff;
  box-shadow: 0px 0px 28px 0px #68f08a;
  border-radius: 20px;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 20px;
  background: linear-gradient(102deg, #14a14f 0%, #3cb572 100%);
}

.success {
  color: #272727;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.clipboard-icon > svg {
  fill: #3cb572;
  width: 30px;
  height: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#button-addon2:hover .clipboard-icon > svg {
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#new-upload {
  width: 100%;
  color: #fff;
  font-weight: 500;
}

.social-links {
  position: fixed;
  top: 70vh;
  left: 46%;
  color: #fff;
  font-size: 25px;
}

.social-links a {
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.social-links a:hover {
  color: #3cb572;
  -webkit-transition: .3s;
  transition: .3s;
}

.cloud-bg {
  position: fixed;
  background-image: url(../images/404-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.cloud-bg h1 {
  font-size: 5vw;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-top: 35vh;
}

.cloud-bg h2 {
  font-size: 2vw;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.text-404 {
  opacity: 0.5;
  font-size: 100vh;
  text-align: center;
  color: #fff;
  font-weight: bold;
  mix-blend-mode: soft-light;
  position: fixed;
  top: -25vh;
  left: -2vw;
  z-index: -1;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

* {
  font-family: 'Montserrat', sans-serif;
}

/* width */
*::-webkit-scrollbar {
  width: 3px;
}

/* Track */
*::-webkit-scrollbar-track {
  border-radius: 2px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background: #0426ff;
  background: linear-gradient(139deg, #5fa6f5 0%, #0426ff 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

.btn-outline-green {
  border-color: #3cb572 !important;
  background-color: #fff;
  color: #3cb572 !important;
}

.btn-outline-green:hover {
  background-color: #3cb572;
  color: #fff;
}

textarea {
  border: 1px solid #ced4da;
  border-radius: 5px;
  resize: none !important;
  width: 100%;
  height: 100px;
}

.bg-soft-green {
  background-color: #3cb572 !important;
}

.btn-check:focus + .btn,
.btn:focus,
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.25rem #3cb57285 !important;
          box-shadow: 0 0 0 0.25rem #3cb57285 !important;
}
/*# sourceMappingURL=style.css.map */