@import "./colors";
@import "./home";
@import "./progressBar";
* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(4, 38, 255);
    background: linear-gradient(139deg, rgba(95, 166, 245, 1) 0%, rgba(4, 38, 255, 1) 100%);
    min-height: 100vh;
    overflow-x: hidden;
}